main {
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  width: 1200px;
}

.container h1 {

  margin-top: 60px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #151861;
}

.container h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(21, 24, 97, 0.8);

  margin-bottom: 80px;
}

.list-cards{

}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15px;
  margin-bottom: 60px;
}

.artigo img {
  width: 300px;
}

.artigo a:hover {
  color: #151761d4;
  background-color: #1517613d;
  border-radius: 10px;
  padding-inline: 5px;
}

footer{
  margin-top: 40px;
}
