@font-face {
    font-family: 'navfont';
    src: url('../fonts/philosopher/Philosopher-Regular.ttf' ) format('truetype') ;
}

body{
    padding: 0px;
    margin: 0px;
}

#navpage{
    background-image: linear-gradient(to right,#92441738, #92441738 ) , url('img/f7d3380ab13c463d6d8734e23c232102.png') ;
   
    width: 100%;
    height: 900px;
    margin-top: -18px;
    padding-top: 70px;
    
}
#navpage ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
#navpage a{

    color: white;
    text-decoration: none;
    padding-right: 50px;
    margin-right: 40px;
     
    font: italic 20px 'navfont';
}
#navpage .dropdown-menu a{
    color: white;
    text-align: center; 
    padding-left: 40px;
}
#navpage .dropdown > a:hover{
    color: rgb(255, 136, 0);
} 
#navpage .dropdown-menu a:hover{
    color: black;
} 

.ftinicio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.dropdown-menu{
    position: absolute;
    display: none;
    columns: 1;
    background-color: rgba(255, 145, 0, 0.815);
    padding-top: 15px;
    width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 12px black;
    
    
    
}
  
.dropdown-menu a{
    display: block;
    padding-top: 20px;
    color: white;
}
    
    
.dropdown-menu:hover{
    color: orange;
}
.dropdown:hover .dropdown-menu{
    display: block;
}

@keyframes navpages {
    from{

    }
    to{

    }
}

    

    
    
    
   
    







    
    
    


   
    
