@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.hero {
  width: 100%;
  height: 300px;
}

.hero > img {
  width: 100%;
  max-width: 100vw;
  height: auto;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.warper {
  width: 312px;
  height: 100%;
}

/* social */
.img-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-social > img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.midia-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.img-link {
  width: 100%;
  margin-top: 2rem;
  max-width: 500px;
  height: 60px;
}

/* about pastor*/
.text-pastor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-pastor > h1,
.about-social > h1,
.contato > h1 {
  margin-top: 4.8rem;
  font-family: 'Sora', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 119%;
}

.contato > h1 {
  margin-bottom: 5rem;
}
.text-pastor > p,
.about-social > p {
  margin-top: 1.6rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 171%;
}

.img-pastor {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.text-pastor > a {
  background-color: #18a0fb;
  width: 279px;
  height: 48px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  line-height: 162%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}

/*blog*/
.title {
  font-family: 'Sora', sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 119%;
  color: #151861;
  margin-bottom: 3.2rem;
}

/*churchu*/
.church {
  background-color: #151861;
  color: aliceblue;
  border-radius: 5rem 0 5rem 0;
}
.about-church > img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 2rem;
}

/*contato*/
.about-contato {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form > input,
.form > select {
  width: 100%;
  height: 3.8rem;
  border-radius: 2rem;
  margin-bottom: 1.6rem;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.form > textarea {
  width: 100%;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.form > a {
  background-color: #18a0fb;
  width: 279px;
  height: 48px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  line-height: 162%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}
.about-contato > iframe {
  display: none;
}
/*footer */
footer {
  background-color: #151861;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-footer > h2 {
  font-family: 'Sora', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 119%;
  margin-top: 2rem;
}
.about-footer > p {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 162%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer .warper > .img-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .warper > .img-footer > img {
  margin: auto;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* media */
@media all and (min-width: 768px) {
  .warper {
    width: 630px;
  }

  .hero {
    min-height: 45vh;
  }
}

@media all and (min-width: 1000px) {
  .warper {
    width: 1216px;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .hero {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  .about-pastor {
    margin-top: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-church {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .church {
    border-radius: 0 0 12rem 0;
  }
  .about-church > img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  footer > .warper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-footer {
    width: 700px;
  }
  .about-footer > h2 {
    font-family: 'Sora', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 119%;
    margin-top: 2rem;
  }
  .about-footer > p {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    line-height: 162%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .about-contato {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .form {
    width: 45%;
  }

  .about-contato > iframe {
    display: inline;
  }

  .contato > h1 {
    margin-bottom: 2rem;
  }
}
