main {
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  width: 1200px;
}

section .hero-leader {
  position: absolute;
  width: 1148.65px;
  height: 666px;
  left: 0px;
  top: 0px;
}

section .hero-leader .bg {
  position: absolute;
  width: 1148.65px;
  height: 666px;
  left: 0px;
  top: 0px;
  background-color: #151861;
  clip-path: polygon(0 0, 100% 0%, 63% 100%, 0% 100%);
}

section .hero-leader .content p {
  position: absolute;
  width: 345px;
  height: 216px;
  left: 384px;
  top: 225px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  /* or 104% */

  letter-spacing: -0.015em;

  color: #f8f8f8;
}

section .hero-leader .content img {
  position: absolute;
  width: 486.04px;
  height: 318.78px;
  left: 754.61px;
  top: 174px;
}

section .about-lider {
  position: relative;
  margin-top: 766px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #000000;
  text-align: center;
}

section .about-lider h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 50px;
letter-spacing: -0.015em;
color: #151861;

margin-bottom: 60px;
}

section .about-lider p{
  text-align: justify;
  margin-block: 15px;
}

footer{
  margin-top: 100px;
}

